.bg-image-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: url('../../../public//pexels-eberhardgross-1004665.jpg') no-repeat center center; /* Add your image path */
    background-size: cover;
  }
  
  .form-content {
    
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
  }
  