<div class="container mt-5">
  <h2>Task List</h2>

  <input
    type="text"
    class="form-control mb-3"
    placeholder="Search by title or description"
    [(ngModel)]="searchQuery"
    (input)="applyFilter()"
  />


  <button class="btn btn-primary mb-3" (click)="sortByDate()">
    Sort by Due Date {{ sortDirection === 'asc' ? '↑' : '↓' }}
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Due Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredTasks">
        <td>{{ task.Title }}</td>
        <td>{{ task.Description }}</td>
        <td>{{ task.Status }}</td>
        <td>{{ task.Priority }}</td>
        <td>{{ task.DueData | date: 'shortDate' }}</td> <!-- Format date -->
        <td>
          <button class="btn btn-warning" (click)="onEdit(task)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(task._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
